
<ng-template appPlaceholder></ng-template>

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">

        <div *ngIf="isWaiting" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>

        <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!isWaiting">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input 
                    type="email" 
                    id="email" 
                    class="form-control" 
                    ngModel 
                    name="emailControl"
                    required
                    email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    id="password" 
                    class="form-control" 
                    ngModel 
                    name="passwordControl"
                    required
                    minlength="6">
            </div>
            <div>
                <button 
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!f.valid">
                    {{ isLoggingMode? 'Login' : 'Sign Up'}}
                </button>
                |
                <button type="button" class="btn btn-primary" (click)="onSwitchMode()">
                    Switch to {{ isLoggingMode? 'Sign Up' : 'Login'}}
                </button>
            </div>
        </form>
    </div>
</div>
