<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="nameId">Name</label>
                    <input 
                        type="text"
                        id="nameId" 
                        class="form-control"
                        name="nameControl"
                        required                        
                        ngModel
                        #nameMarker="ngModel"                        
                        >
                        <span class="help-block" *ngIf="!nameMarker.valid && nameMarker.touched">Please enter a name</span>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amountId">Amount</label>
                    <input 
                        type="number"
                        id="amountId"
                        class="form-control"
                        name="amountControl"
                        required
                        pattern="^[1-9]+[0-9]*$"
                        ngModel
                        #numberMarker="ngModel"
                        >
                        <span class="help-block" *ngIf="!numberMarker.valid && numberMarker.touched">Please enter an amount</span>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-success" type="submit" [disabled]='!f.valid'>{{editMode ? 'Update' :'Add'}}</button>
                <button class="btn btn-danger"  type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
                <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
            </div>
        </form>

    </div>
</div>